@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
}

.nav-bar a {
  background:rgba(22,136,0,1.00) ;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 20px 150px;
  text-decoration: none;
  text-align: center;          /*for the text*/
  font-size: 22px;		      /*for the text*/
		
}

.nav-bar a:hover {
  background: gold;
  border: 1px solid gold;
  color: white;
}

.welcome {
	color: azure;
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
	background-image: url("../../images/tower-bridge.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0,0,0,0.5);
	border: 5px none gold;
	margin: 50px;
	padding: 90px;
	height: 700px;
	
	}

.intro-question {
	color: aliceblue;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 2px;
	padding: 10px 290px;
	text-align: center;
}

p {
	color: aliceblue;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 2px;
	padding: 0px 50px;
}



body {
/* Incase i ever want to switch the pictures around	background-image: url("../../images/tower-bridge.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0.88)
	text-align: center;
}

main{
	text-align: center;
}

h2 {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	padding-bottom: 15px;
	font-size: 35px;
}

h3 {
	padding: 25px ;
	font-size: 25px;
}

.tourist-locations {
	color: aliceblue;
	width: 900px ;
	border: 10px solid gold;
	padding: 25px;
	margin: 10px;
	background-color: rgba(0,0,0,0.8);
}

.food-spots {
	color: aliceblue;
	width: 900px ;
	border: 10px solid gold;
	padding: 25px;
	margin: 10px;
	background-color: rgba(0,0,0,0.8);
}

ul {
	list-style-type: none;
}
